<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ecommerce Test Suite">
    <test name="Magento Tests">
        <classes>
            <class name="testcase1_searchTest"/>
            <class name="testCase2_AddToCartTest"/>
            <class name="testCase3_placeOrder"/>
        </classes>
    </test>
</suite>